@page "/"

<h1>Hello, Crescendo Collective</h1><br /><br />

<h2>My name is Tivinia</h2>
<h4>Welcome to my Yelp Review App!</h4>

<SurveyPrompt Title="Thank you for taking the time to review my code submission." />
